.about-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.about-content {
  display: flex;
  flex-direction: row; /* Set the flex direction to row */
  justify-content: space-between; /* Align content with space between */
  margin-top: 0px;
  padding-top: 0px;
  min-height: calc(80vh - 3.5rem - 4px);
  position: relative;
}

.about-content__heading {
  font-size: calc(2.5rem + 1.18919vw - 3.56757px);
  font-family: Merriweather Sans, sans-serif;
  font-weight: 800;
  color: white;
  margin-top: 50px;
  margin-left: 0px;
}

@media (min-width: 769px)
{.profile-image {
  margin-left: auto; /* Push the image to the extreme right */
  display: flex;
  align-items: center; /* Aligns the image vertically */
  justify-content: center; /* Center the image within the container */
  height: 100vh; /* Full height of the viewport */
}

}

.profile-image img {
  max-width: 50%; /* Limit the width to half of the viewport */
  max-height: 50%; /* Ensure the image doesn't exceed the viewport height */
  border-radius: 20%;
  object-fit: cover;
}


.description {
  display: flex;
  flex-direction: column; /* Set the flex direction to column */
  text-align: left;
  max-width: 65%;
  align-items: flex-start; /* Align content to the start */
  color: white;
  font-family: "Exo\ 2",sans-serif;
  font-weight: 400;
  opacity: .87;
  white-space: pre-wrap;
  font-size: calc(1em + .37838vw - 1.13514px);
  line-height: calc(1.4em + .00811vw - .02432px);

}



.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* adjust as needed */
  height: 30vh; /* adjust as needed */
}

.arrow-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7%; /* adjust as needed */
  height: auto; /* adjust as needed */
  background-color: transparent; /* adjust as needed */
}

.arrow {
  width: 100%;
  height: 100%;
}


.h1{
    display: block;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    margin-top: 0;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}