.projects-container {
    width: 100%;
    position: relative;
    overflow: hidden; /* Hide the overflow */
  }
  
  .project-scroll-container {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevents wrapping on the next line */
    width: 1080px; /* Width of three cards plus their margins */  
    -ms-overflow-style: none; /* Internet Explorer and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .project-scroll-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
  
  .project-card {
    flex: 0 0 auto;
    width: 295px;
    border: 1px solid #000;
    padding: 20px;
    margin: 10px;
    background-color: #000;
    color: #fff;
    text-align: center;
    height: 330px;
    display: inline-block; /* To line up the cards horizontally */
  }
  
  .project-card img {
    max-width: 100%;
    height: auto;
  }
  
  #show-more-btn {
    position: absolute;
    bottom: 150px;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #c6b4b4;
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #show-more-btn img {
    width: 100%;
    height: auto;
    filter: invert(100%);
  }
  
  @media (max-width: 768px) {
    .projects-container {
      flex-direction: column;
      align-items: center;
    }
  }
  